{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{% static 'css/admin/auth.css' %}?v=2" />

    <style>
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1; /* Asegura que el video esté detrás del contenido */
        }
    </style>
</head>
<body>
    <div class="login-container">
        <div class="login-image">
            <video id="miVideo" autoplay muted loop>
                <source src="{% static 'video/back-vid.mp4' %}" type="video/mp4">
                Tu navegador no soporta el video.
            </video>
            <div class="overlay"></div>
            <div class="video-content">
                <a href="{% url 'inicio' %}">
                    <img src="{% static 'img/logo.png' %}" alt="Logo">
                    <h1>xteka.mx</h1>
                    <h3>Tu mejor opción en actividades y tours</h3>
                </a>
            </div>
        </div>

        <div class="login-form">
            <div class="form-box">
                <h2>Iniciar sesión</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="form-field">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button class="btnSubmit" type="submit">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        const video = document.getElementById('miVideo');

        video.addEventListener('timeupdate', function() {
            localStorage.setItem('videoTime', video.currentTime);
        });

        // Al cargar la página
        window.addEventListener('load', function() {
        const savedTime = localStorage.getItem('videoTime');
            if (savedTime) {
                video.currentTime = savedTime;
            }
        });
    </script>
</body>
</html>
