{% load custom_filters %}
<tbody>
    {% for objeto in objetos %}
    <tr>
        {% for campo in columnas %}
            {% if campo == 'contrasena' %}
                {# No se muestra la contraseña #}
            {% elif campo == 'tipo' %}
                <td>
                    {% if objeto.tipo == 1 %}
                        <span class="badge badge-admin">
                            <i class="fas fa-user-shield"></i> Administrador
                        </span>
                    {% elif objeto.tipo == 2 %}
                        <span class="badge badge-supervisor">
                            <i class="fas fa-user-tie"></i> Supervisor
                        </span>
                    {% elif objeto.tipo == 3 %}
                        <span class="badge badge-usuario">
                            <i class="fas fa-user"></i> Usuario
                        </span>
                    {% else %}
                        <span class="badge badge-otro">
                            <i class="fas fa-question-circle"></i> Desconocido
                        </span>
                    {% endif %}
                </td>
            {% elif campo == 'estado' %}
                <td>
                    {% if objeto.estado == 1 %}
                    <span class="badge badge-pendiente">
                        <i class="fa-solid fa-clock"></i> Pendiente
                    </span>
                    {% elif objeto.estado == 2 %}
                        <span class="badge badge-confirmada">
                            <i class="fa-solid fa-circle-check"></i> Confirmada
                        </span>
                    {% elif objeto.estado == 3 %}
                        <span class="badge badge-cancelada">
                            <i class="fa-solid fa-circle-xmark"></i> Cancelada
                        </span>
                    {% else %}
                        <span class="badge badge-otro">
                            <i class="fas fa-question-circle"></i> Desconocido
                        </span>
                    {% endif %} 
                </td>               
            {% else %}
                <td>{{ objeto|get_attr:campo }}</td>
            {% endif %}
        {% endfor %}
        <td>
            <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                {% with columnas|join:"," as campos_json %}
                <button type="button" class="btn warning small" onclick='openEditModal({{ objeto.id }}, {{ objeto|get_objeto_json:campos_json|safe }})'>
                    <i class="fa-solid fa-pen-to-square"></i> Editar
                </button>
                {% endwith %}
                <button class="btn danger small" onclick="openDeleteModal({{ objeto.id }})">
                    <i class="fas fa-trash"></i> Eliminar
                </button>
            </div>
        </td>
    </tr>

    <!-- Modal de Confirmación de Eliminación -->
    <div class="modal" id="deleteModal{{ objeto.id }}">
        <div class="modal-content">
            <h3>Confirmar eliminación</h3>
            <p>¿Seguro que quieres eliminar este registro?</p>
            <div class="modal-buttons">
                <button type="button" class="btn cancel" onclick="closeDeleteModal({{ objeto.id }})">Cancelar</button>
                <button class="btn danger confirm-delete-btn" data-id="{{ objeto.id }}" data-modelo="{{ modelo }}">Sí, eliminar</button>
            </div>
        </div>
    </div>
    {% empty %}
        <tr><td colspan="999">No hay registros</td></tr>
    {% endfor %}
</tbody>
