header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.a-tags{
    text-decoration: none;
    color: inherit;
    outline: none;  
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.nav-min-contact{
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-urls{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255)	;
}

.nav-urls .text-logo-xteka{
    font-size: 20px ;
    display: none;
    padding-left: 10px;
}

.nav-urls .nav-logo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: lowercase;
}

.nav-urls .btn-nav-vertical{
    font-size: 90px;
    justify-content: flex-end;
    align-items: center;
    display: none;
}

.nav-urls .btn-nav-vertical i{
    margin-right: 30px;
}

.nav-urls img{
    width: 60px;
}

.nav-urls li{
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-urls li:hover {
    color: rgb(19, 163, 199);
}

.nav-min-contact ul, .nav-urls ul{
    width: 100%;
    height: 80px;
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
}

.nav-min-contact li{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-min-contact i{
    font-size: 20px;
}

@media (max-width: 768px) { 
    .nav-min-contact span{
        display: none;
    }
}

@media (max-width: 1150px) { 
    .nav-urls ul{
        justify-content: space-between;
    }

    .nav-urls li:not(.nav-logo, .btn-nav-vertical){
        display: none;
    }

    .nav-urls li:is(.nav-logo, .btn-nav-vertical){
        width: 220px;
    }

    .nav-urls .btn-nav-vertical{
        display: flex;
    }

    .nav-urls .text-logo-xteka{
        display: block;
    }
}

.user-menu {
    position: relative;
}

.user {
    cursor: pointer;
    padding: 10px;
    color: #333;
}

.user:hover{
    color: #008599;
}

.user-drop {
    display: none;
    position: absolute;
    right: 0px;
    top: 80%;
    margin-top: 0px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 160px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 100;
    padding: 10px;
}

.user-drop form {
    margin: 0;
}

.logout {
    background: none;
    border: none;
    color: #d32f2f;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
}

.logout i {
    margin-right: 5px;
}

.logout:hover {
    background-color: #f8d7da;
    border-radius: 5px;
}

/* Mostrar dropdown al hacer hover */
.user-menu:hover .user-drop {
    display: block;
}

