{% extends 'customers/base.html' %} 
{% load static %} 
{% block title %}Inicio - xtekamx{% endblock %} 
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/customers/index.css' %}?v=2" />
{% endblock %}
{% block content %}
<!-- Se asume que <body> ya está en la plantilla base -->
<div id="loader">
  <img src="{% static 'img/logo.png' %}" alt="Logo">
  <div class="spinner"></div>
</div>

<div class="banner">
  <div id="video-container">
    <video id="background-video" muted loop>
      <source src="{% static 'video/back-vid.mp4' %}" type="video/mp4">
      Tu navegador no soporta el video.
    </video>
  </div>
  <div class="banner-text">
    <p class="first-line">EXPLORA LA MAGIA DE LA <span class="gradient-xteka">HUASTECA POTOSINA</span></p>
    <p class="second-line">UN PARAÍSO LLENO DE CASCADAS, RÍOS Y CULTURA VIBRANTE</p>
    <p class="third-line">#xtekamx</p>
  </div>
  <div class="banner-buttons">
    <a href="#precios">
      <img src="{% static 'icons/money-recive.svg' %}" alt="Icono">
      <span>PRECIOS Y MÁS</span>
    </a>
    <img src="{% static 'icons/arrow-down.svg' %}" alt="Icono">
    <a href="https://wa.me/5218342474449?text=Hola%2C%20me%20gustaría%20obtener%20más%20información" target="_blank"><img src="{% static 'icons/whatsapp.svg' %}" alt="Icono">
      <span>CONTÁCTANOS</span>
    </a>
  </div>
</div>

<div id="acerca-de">
  <div>¿Quiénes somos?</div>
  <div>
    <span>Somos una agencia de ecoturismo <span class="gradient-xteka">100% huasteca</span>, con un fuerte compromiso de
    ofrecer experiencias únicas en cada uno de nuestros servicios, destacando
    nuestros esfuerzos en promover la cultura, la economía y el cuidado
    ambiental de nuestra comunidad.
    </span>
  </div>
</div>

<div id="actividades">
  <div>
    <a href="#paquetes">
      <span>Paquetes</span>
    </a>
  </div>
  <div>
    <a href="#actividades">
      <span>Actividades</span>
    </a>
  </div>
</div>

<div class="opiniones">
  <div class="opiniones-contenido">
    <div class="opiniones-texto">
      <h2>
        Estamos disponibles <span>todos los días del año.</span> Planea tus
        vacaciones con nosotros
      </h2>
    </div>
    <div class="opiniones-imagen">
      <img src="{% static 'img/opiniones.png' %}" alt="Opiniones" />
    </div>
  </div>
  <div class="opiniones-clientes">
    <h3>Nuestros Clientes</h3>
    <div class="cliente">
      <img src="{% static 'img/opiniones2.png' %}" alt="Cascada" />
      <blockquote>
        "Mi reciente viaje a la Huasteca Potosina fue una experiencia realmente
        inolvidable. Cada rincón de este paraíso natural me dejó sin palabras."
        <p class="autor">@MATR192001</p>
      </blockquote>
    </div>
  </div>
</div>

<div class="instrucciones">
  <div>
    <h3>Paso 1</h3>
    <img src="{% static 'img/paso1.png' %}" alt="Paso 1" />
    <p>ELIGE TU PAQUETE <span class="config">PREFERIDO</span></p>
  </div>
  <div>
    <h3>Paso 2</h3>
    <img class="imgPaso2" src="{% static 'img/paso2.png' %}" alt="Paso 2" />
    <p>COMPLETA EL <span class="config">REGISTRO</span> CORRESPONDIENTE</p>
  </div>
  <div>
    <h3>Paso 3</h3>
    <img src="{% static 'img/paso3.png' %}" alt="Paso 3" />
    <p>LISTO, ERES <span class="config">PARTE DE LA FAMILIA XTEKA</span></p>
  </div>
</div>
{% endblock %}
{% block extra_js %}
  <script src="{% static 'js/customers/index.js' %}"></script>
{% endblock %}