/* General dashboard layout */
.dashboard {
  padding: 2rem;
  font-family: 'Montserrat';
  background-color: #f7f9fc;
  color: #333;
}

/* Top cards section */
.top-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-top: 0rem;
  color: #000000;
}

.card p {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: solid white 1px ;
}

.balance {
  background: linear-gradient(40deg, #2f9ed8 0%, #4cbd66 100%);
  color: white;
}

.balance h3 {
  font-weight: normal;
  color: white;
}

.ingresos .chart-placeholder {
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  height: 200px; /* ajusta el alto del gráfico */
}

.gastos .chart-placeholder {
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  height: 200px; /* ajusta el alto del gráfico */
}

/* Sales summary section */

.sales-summary {
  display: flex;
  gap: 2rem;
  align-items: start;
}

.sales-chart {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.sales-chart .chart-placeholder {
  width: 100%;
  height: 200px; /* ajusta el alto del gráfico */
  position: relative;
}

#ventasChart {
  width: 100% !important;
  height: 100% !important;
}

/* Stats cards */
.sales-stats {
  display: flex;
  flex-direction: column; /* o row si quieres en fila */
  gap: 1rem;
  width: 450px;
  height: 330px; /* o cualquier altura fija o relativa funcional */
}

.stat-card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  flex: 1;
  transition: background-color 0.2s ease;
  align-content: center;
}

.ventas{
  background: linear-gradient(40deg, #008bd6 0%, #c5e3f4 100%);
}

.entradas{
  background: linear-gradient(40deg, #1fc846 0%, #aaffbe 100%);
}

.pendientes{
  background: linear-gradient(40deg, #fdbc2d 0%, #ffda8a 100%);
}

.salidas{
  background: linear-gradient(40deg, #cb0036 0%, #ff95b1 100%);
}


.stat-card:hover {
  background-color: #f1f1f1;
}