{% extends 'customers/base.html' %} 
{% load static %} 
{% block title %}Inicio - xtekamx{% endblock %} 
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/customers/index.css' %}?v=2" />
{% endblock %}
{% block content %}
<!-- Se asume que <body> ya está en la plantilla base -->
<div id="loader">
  <img src="{% static 'img/logo.png' %}" alt="Logo">
  <div class="spinner"></div>
</div>

<div class="banner">
  <div id="video-container">
    <video id="background-video" muted loop>
      <source src="https://res.cloudinary.com/dtzil5dwl/video/upload/v1746508246/back-vid_nfqn7f.mp4" type="video/mp4">
      Tu navegador no soporta el video.
    </video>
  </div>
  <div class="banner-text">
    <p class="first-line">EXPLORA LA MAGIA DE LA 
      <span id="text-change-title" class="gradient-xteka">
        HUASTECA POTOSINA
      </span>
      <span class="cursor-text-banner">|</span>
    </p>
    <p class="second-line">UN PARAÍSO LLENO DE AVENTURAS, LUGARES Y CULTURA VIBRANTE</p>
    <p class="third-line">#xtekamx</p>
  </div>
  <div class="banner-buttons">
    <a href="{% url 'paquetes' %}">
      <img src="{% static 'icons/money-recive.svg' %}" alt="Icono">
      <span>PRECIOS Y MÁS</span>
    </a>
    <img src="{% static 'icons/arrow-down.svg' %}" alt="Icono">
    <a href="https://wa.me/5218342474449?text=Hola%2C%20me%20gustaría%20obtener%20más%20información" target="_blank"><img src="{% static 'icons/whatsapp.svg' %}" alt="Icono">
      <span>CONTÁCTANOS</span>
    </a>
  </div>
</div>

<div id="acerca-de" class="fade-in-on-scroll">
  <div>¿Quiénes somos?</div>
  <div>
    <span>Somos una agencia de ecoturismo <span class="gradient-xteka">100% huasteca</span>, con un fuerte compromiso de
    ofrecer experiencias únicas en cada uno de nuestros servicios, destacando
    nuestros esfuerzos en promover la cultura, la economía y el cuidado
    ambiental de nuestra comunidad.
    </span>
  </div>
</div>

<div id="actividades" class="fade-in-on-scroll">
  <div>
    <a href="{% url 'paquetes' %}">
      <span>Paquetes</span>
    </a>
  </div>
  <div>
    <a href="{% url 'actividades' %}">
      <span>Actividades</span>
    </a>
  </div>
</div>

<div id="invitacion" class="fade-in-on-scroll">
  <div id="img-invitacion">
    <img src="https://res.cloudinary.com/dtzil5dwl/image/upload/v1746507097/invitacion_img_qequv4.png" alt="invitacion-img">
  </div>
  <div id="text-invitacion">
    <span>
      Estamos disponibles <br><span class="gradient-xteka">todos los días del año.</span><br> 
      Planea tus vacaciones con nosotros
    </span>    
  </div>
</div>

<div id="opiniones" class="fade-in-on-scroll">
  <div>
    {% include "customers/components/header_lined.html" with text="NUESTROS CLIENTES" color="black" %}
  </div>
</div>

{% include "customers/components/testimonial_slider.html" with testimonios=testimonios %}

<div id="container-instrucciones" class="fade-in-on-scroll">
  {% include "customers/components/header_lined.html" with text="PASO A PASO" color="white" %}
  <div id="instrucciones">
    <div>
      <h3>Paso 1</h3>
      <img src="{% static 'icons/brush.png' %}" alt="Paso 1" />
      <p>ELIGE TU PAQUETE <span class="gradient-xteka">PREFERIDO</span></p>
      <div class="circle-gradient"></div>
    </div>
    <span><hr></span>
    <div>
      <h3>Paso 2</h3>
      <img class="imgPaso2" src="{% static 'icons/open-book.png' %}" alt="Paso 2" />
      <p>COMPLETA EL <span class="gradient-xteka">REGISTRO</span> CORRESPONDIENTE</p>
      <div class="circle-gradient"></div>
    </div>
    <span><hr></span>
    <div>
      <h3>Paso 3</h3>
      <img src="{% static 'icons/wallet.png' %}" alt="Paso 3" />
      <p>LISTO, ERES <span class="gradient-xteka">PARTE DE LA FAMILIA XTEKA</span></p>
      <div class="circle-gradient"></div>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_js %}
  <script src="{% static 'js/customers/index.js' %}"></script>
{% endblock %}