{% extends 'customers/base.html' %}
{% load static %}
{% block title %}Paquetes - xtekamx{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/customers/paquetes.css' %}" />
{% endblock %}
{% block content %}

{% include "customers/components/breadcrumb.html" with titulo="PAQUETES" breadcrumb="Inicio > Paquetes" imagen="https://res.cloudinary.com/dtzil5dwl/image/upload/v1746509940/paquetes-breadcrumb_q0ffyd.jpg" %}

<h2 class="fade-in-on-scroll">TODOS NUESTROS PAQUETES INCLUYEN</h2>
<div id="includes" class="fade-in-on-scroll">
    <div class="includes-group">
        <div class="img-wrapper">
            <img src="{% static 'icons/medical-bag.svg' %}" alt="">
        </div>
        <p>BOTIQUÍN DE PRIMEROS AUXILIOS</p>
    </div>
    <div class="includes-group">
        <div class="img-wrapper">
            <img src="{% static 'icons/snorkel.svg' %}" alt="">
        </div>
        <p>ACTIVIDADES</p>
    </div>
    <div class="includes-group">
        <div class="img-wrapper">
            <img src="{% static 'icons/ticket.svg' %}" alt="">
        </div>
        <p>ACCESOS</p>
    </div>
    <div class="includes-group">
        <div class="img-wrapper">
            <img src="{% static 'icons/people.svg' %}" alt="">
        </div>
        <p>GUÍA ESPECIALIZADA</p>
    </div>
    <div class="includes-group">
        <div class="img-wrapper">
            <img src="{% static 'icons/health.svg' %}" alt="">
        </div>
        <p>EQUIPO DE SEGURIDAD</p>
    </div>
    <div class="includes-group">
        <div class="img-wrapper">
            <img src="{% static 'icons/camera.svg' %}" alt="">
        </div>
        <p>FOTOGRAFÍAS DEL VIAJE</p>
    </div>
</div>

<h2 class="border-text fade-in-on-scroll">TODOS LOS PAQUETES ESTÁN DISPONIBLES A PARTIR DE 2 PERSONAS</h2>

<form method="get" id="filtros-form" class="filters-form">
    <div>
        <label>Tipo de paquete:</label>
        <select name="tipo_paquete">
          <option value="">Todos</option>
          {% for tipo in tipos %}
            <option value="{{ tipo.id }}" {% if tipo.id|stringformat:"s" == request.GET.tipo_paquete %}selected{% endif %}>{{ tipo.nombre }}</option>
          {% endfor %}
        </select>
    </div>

  <div>
    <label>Precio máximo adulto:</label>
    <input type="number" name="precio_adulto" value="{{ request.GET.precio_adulto }}">
  </div>

  <div>
    <label>¿Con hotel?</label>
    <select name="hotel">
      <option value="">Todos</option>
      <option value="1" {% if request.GET.hotel == "1" %}selected{% endif %}>Sí</option>
      <option value="0" {% if request.GET.hotel == "0" %}selected{% endif %}>No</option>
    </select>
  </div>
  </form>
  
  <div id="paquetes-container">
    {% include "customers/components/paquetes_grid.html" %}
  </div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/customers/paquetes.js' %}"></script>
{% endblock %}